[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene-django = "*"
django-graphql-jwt = "*"
django-graphql-auth = "*"
django = "<4"
django-filter = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.11"
